[Desktop Entry]
Version=1.0
Type=Application
Name=Gogland {{ gogland_version }}
Icon={{ gogland_location}}/bin/gogland.png
Exec="{{ gogland_location }}/bin/gogland.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-gogland
